<section class="text-gray-600 body-font relative">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-black mb-4">{{ label|t }}</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">{{ content.body[0]['#text']|striptags }}.</p>
    </div>
    <div class="mx-auto">
      <div class="flex flex-wrap">
        {{ drupal_entity('contact_form', 'feedback') }}
      </div>
    </div>
  </div>
</section>