{% set items = content.field_contact_item['#items'].getValue() %}
  <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
    <h1 class="sm:text-3xl text-2xl font-medium text-left title-font text-white mb-4">{{ label|t }}</h1>
    <nav class="flex flex-col sm:text-left text-center items-left -mb-1 space-y-2.5">
      {% for key, value in items %}
        {% set contact_icon = content.field_contact_item[key]['#paragraph'].field_info_card_icon.getValue()[0].value %}
        {% set contact_content = content.field_contact_item[key]['#paragraph'].field_contact_info_content.getValue()[0].value %}
        <a class="text-white leading-10">
          <i class="{{ contact_icon }}"></i>
          {{ contact_content|t }}
        </a>
      {% endfor %}
    </nav>   
</div>