<nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
  <a class="mr-5 hover:text-gray-900" href="google.com">First Link</a>
  <a class="mr-5 hover:text-gray-900"  href="google.com">Second Link</a>
  <a class="mr-5 hover:text-gray-900"  href="google.com">Third Link</a>
  <a class="mr-5 hover:text-gray-900"  href="google.com">Fourth Link</a>
</nav>